@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #e5e5e5;

  --card: #1a1a1a;             
  --card-foreground: #e5e5e5;

  --muted: #222222;
  --muted-foreground: #b4b4b4;

  --border: #2a2a2a;
  --input: #2a2a2a;

  --primary: #fafafa;
  --primary-foreground: #0f0f0f;

  --radius: 0.75rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
