@import "tailwindcss";

:root {
  --background: #0f0f0f;      /* fondo principal oscuro */
  --foreground: #e5e5e5;      /* texto claro */

  --card: #1a1a1a;            /* gris oscuro claro (como el contenedor de tu imagen) */
  --card-foreground: #e5e5e5;

  --muted: #222222;           /* para headers de tablas */
  --muted-foreground: #b4b4b4;

  --border: #2a2a2a;          /* bordes muy suaves */
  --input: #2a2a2a;

  --primary: #fafafa;
  --primary-foreground: #0f0f0f;

  --radius: 0.75rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
